* {
    margin: 0;
    padding: 0;
}



#header {
    margin: 0 auto;
    margin-top: 50px;
    background-image: url('./../images/Banner Image.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    margin-bottom: 100px;
}




/* top banner section */
.banner-content {
    align-items: center;
    padding: 177px 0;
}

.banner-content h2 {
    font-size: 72px;
    color: #fff;
    text-align: center;
}

.banner-content h5 {
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
}


/* categories section */
.categories {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 120px;
}

.categories h1 {
    font-size: 88px;
    color: #FF0000;
    margin-bottom: 48px;
}

.categories p {
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 16px;
}

.categories h4 {
    font-size: 48px;
    color: #070211;
    margin-bottom: 48px;
}


/* party section */
#party {
    width: 85%;
    margin: 0 auto;
    background-image: url('./../images/Vectorrr.png');
    background-repeat: no-repeat;
    min-height: 600px;
    margin-bottom: 120px;
}

.party-content {
    width: 50%;
    padding-left: 126px;
    padding-top: 126px;

}

.party-content h3 {
    font-size: 64px;
    color: #fff;
    margin-bottom: 24px;
    line-height: 88px;
}

.party-content p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 48px;
    line-height: 30px;
}

.party-content a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}


/* portfolio section */
#portfolio {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 120px;
}

.portfolio-content {
    width: 60%;
    padding-bottom: 48px;
    margin-left: 12px;
}

.portfolio-content h6 {
    font-size: 24px;
    color: #FF0000;
    margin-bottom: 16px;
}

.portfolio-content h4 {
    font-size: 48px;
    margin-bottom: 22px;
}

.portfolio-content p {
    font-size: 20px;
    color: #070211;
    line-height: 32px;
}


.portfolio-images img {
    width: 421px;
    height: 450px;
    display: inline-block;
    margin: 12px;
}


/* subscribe section */
#subscribe {
    width: 85%;
    min-height: 616px;
    background-color: #FFF2F2;
    margin: 0 auto;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 120px;
}

.subscribe-content {
    padding-top: 80px;
}

.subscribe-content img {
    margin-bottom: 40px;
}

.subscribe-content h4 {
    font-size: 48px;
    color: #070211;
    margin-bottom: 22px;
}

.subscribe-content p {
    font-size: 20px;
    color: #070211;
    line-height: 32px;
    margin-bottom: 48px;
}

.subscribe-input-box {
    width: 648px;
    display: inline-flex;
}

.subscribe-input-box input {
    border: none;
}

.subscribe-input-box input[type=email] {
    height: 72px;
    width: 100%;
    border-radius: 50px 0 0 50px;
    font-size: 32px;
}

.subscribe-input-box input[type=submit] {
    padding: 24px 56px;
    background-color: #FF0000;
    border-radius: 0 50px 50px 0;
    font-size: 20px;
    color: #fff;
}